<a href="https://colab.research.google.com/github/nastuaah/programming/blob/master/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Занятие 1

In [1]:
#@title кошка
print ('Кошка сказала "мяу"')

Кошка сказала "мяу"

In [2]:
#@title минуты
minuts = int(input("Введите количество минут:" ))
print ("В", minuts, "минутах - ", minuts*60, "секунд")

Введите количество минут:12
В 12 минутах -  720 секунд

In [1]:
#@title ставка
F = int(input("Введите требуемое будущее значение:"))
r = float(input("Введите годовую процентную ставку:"))
n = int(input("Введите количество лет для хранения:"))
P = F/(1+r)**n
print ("Вам потребуется внести:", P)

Введите требуемое будущее значение:1000000
Введите годовую процентную ставку:0.04
Введите количество лет для хранения:5
Вам потребуется внести: 821927.1067593517

In [4]:
#@title задача 1
number = int(input("Print the number:"))
print("The next number for the number", number, "is", number+1)
print("The previous number before", number, "is", number-1)

Print the number:173
The next number for the number 173 is 174
The previous number before 173 is 172

In [5]:
#@title задача 2
number = int(input("Введите целое число:"))
decyatki = number//10%10
print("Количество десятков",decyatki)

Введите целое число:256
Количество десятков 5

In [6]:
#@title задача 3
number = int(input("Введите целое число:"))
a = number//100
b = (number//10)%10
c = number%10
summa = a + b + c
print("Сумма цифр числа",summa)

Введите целое число:345
Сумма цифр числа 12

In [2]:
#@title задача 4
a = int(input("Введите количество рублей:"))
b = int(input("Введите количество копеек:"))
k = int(input("Введите количество пирогов:"))
a=a*k
b=b*k
a = a+b//100
b=b%100
print ("Стоимость пирогов:", a, "рублей", b, "копеек")

Введите количество рублей:3
Введите количество копеек:30
Введите количество пирогов:5
Стоимость пирогов: 16 рублей 50 копеек

In [7]:
#@title задача 5
a1 = int(input("Введите количество учащихся в 1 классе:"))
a2 = int(input("Введите количество учащихся во 2 классе:"))
a3 = int(input("Введите количество учащихся в 3 классе:"))
print ("Наименьшее количество парт:", a1//2 + a2//2 + a3//2 + a1%2+a2%2+a3%2)

Введите количество учащихся в 1 классе:20
Введите количество учащихся во 2 классе:21
Введите количество учащихся в 3 классе:21
Наименьшее количество парт: 32

# Занятие 2

In [46]:
#@title импортируем диск
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [47]:
#@title ищем папку
!ls -l '/content/gdrive/MyDrive/python'

total 14
-rw------- 1 root root 13531 Apr 13 17:08 excel.xlsx

In [61]:
#@title считываем и объединяем листы таблицы
import pandas as pd
df_1=pd.concat(pd.read_excel('/content/gdrive/MyDrive/python/excel.xlsx', sheet_name=None), ignore_index=True)
df_1

              name   september  november  march
0      Лумбова С.И.      34000     98000  56980
1      Лапшина Т.А.      37980     67543  34876
2     Гагулина П.А.      23678     89231  23890
3      Хоменко А.М.      67890     76210  56780
4       Щапова М.А.      67890     12345  45678
5     Жулитова Д.А.      48900     34567  34876
6     Чумазина С.В.      23000     89231  45234
7   Богдашкина А.М.      34567     78000  98123
8    Маслинова С.П.      90000     28000  78123
9      Лапшина В.А.      37980     57543  98654
10       Сыров В.А.      27688     89231  23456
11    Димакова Е.А.      67680     36210  45980

In [62]:
#@title добавляем новую строку
df_1.loc[len(df_1.index)]=['Абронина Е.А.', 45678, 78342, 67342]
df_1

              name   september  november  march
0      Лумбова С.И.      34000     98000  56980
1      Лапшина Т.А.      37980     67543  34876
2     Гагулина П.А.      23678     89231  23890
3      Хоменко А.М.      67890     76210  56780
4       Щапова М.А.      67890     12345  45678
5     Жулитова Д.А.      48900     34567  34876
6     Чумазина С.В.      23000     89231  45234
7   Богдашкина А.М.      34567     78000  98123
8    Маслинова С.П.      90000     28000  78123
9      Лапшина В.А.      37980     57543  98654
10       Сыров В.А.      27688     89231  23456
11    Димакова Е.А.      67680     36210  45980
12    Абронина Е.А.      45678     78342  67342

In [68]:
#@title добавляем новый столбец
april_vals= [34987, 56782, 65999, 34876, 65322, 78999, 82341, 65231, 87543, 89444, 76222, 45676, 78323]
df_1.insert(loc=len(df_1.columns), column='april', value=april_vals)
df_1

              name   september  november  march  april
0      Лумбова С.И.      34000     98000  56980  34987
1      Лапшина Т.А.      37980     67543  34876  56782
2     Гагулина П.А.      23678     89231  23890  65999
3      Хоменко А.М.      67890     76210  56780  34876
4       Щапова М.А.      67890     12345  45678  65322
5     Жулитова Д.А.      48900     34567  34876  78999
6     Чумазина С.В.      23000     89231  45234  82341
7   Богдашкина А.М.      34567     78000  98123  65231
8    Маслинова С.П.      90000     28000  78123  87543
9      Лапшина В.А.      37980     57543  98654  89444
10       Сыров В.А.      27688     89231  23456  76222
11    Димакова Е.А.      67680     36210  45980  45676
12    Абронина Е.А.      45678     78342  67342  78323

In [69]:
#@title удаляем столбец
df_1.drop('april', axis=1, inplace=True)
df_1

              name   september  november  march
0      Лумбова С.И.      34000     98000  56980
1      Лапшина Т.А.      37980     67543  34876
2     Гагулина П.А.      23678     89231  23890
3      Хоменко А.М.      67890     76210  56780
4       Щапова М.А.      67890     12345  45678
5     Жулитова Д.А.      48900     34567  34876
6     Чумазина С.В.      23000     89231  45234
7   Богдашкина А.М.      34567     78000  98123
8    Маслинова С.П.      90000     28000  78123
9      Лапшина В.А.      37980     57543  98654
10       Сыров В.А.      27688     89231  23456
11    Димакова Е.А.      67680     36210  45980
12    Абронина Е.А.      45678     78342  67342

In [70]:
#@title удалить строку
df_1.drop(df_1.index[11], inplace=True)
df_1

              name   september  november  march
0      Лумбова С.И.      34000     98000  56980
1      Лапшина Т.А.      37980     67543  34876
2     Гагулина П.А.      23678     89231  23890
3      Хоменко А.М.      67890     76210  56780
4       Щапова М.А.      67890     12345  45678
5     Жулитова Д.А.      48900     34567  34876
6     Чумазина С.В.      23000     89231  45234
7   Богдашкина А.М.      34567     78000  98123
8    Маслинова С.П.      90000     28000  78123
9      Лапшина В.А.      37980     57543  98654
10       Сыров В.А.      27688     89231  23456
12    Абронина Е.А.      45678     78342  67342

In [79]:
#@title вывод столбца
df_1.loc[:,['march']]

    march
0   56980
1   34876
2   23890
3   56780
4   45678
5   34876
6   45234
7   98123
8   78123
9   98654
10  23456
12  67342

In [84]:
#@title вывод с условием
df_1.loc[(df_1['march']>43000)]

              name   september  november  march
0      Лумбова С.И.      34000     98000  56980
3      Хоменко А.М.      67890     76210  56780
4       Щапова М.А.      67890     12345  45678
6     Чумазина С.В.      23000     89231  45234
7   Богдашкина А.М.      34567     78000  98123
8    Маслинова С.П.      90000     28000  78123
9      Лапшина В.А.      37980     57543  98654
12    Абронина Е.А.      45678     78342  67342